<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @tournament.created_at %>
</p>

<p>There are <%= @player_count %> players in this tournament.</p>

<%= link_to 'New Round', new_round_path(tournament_id: @tournament.id) %> |
<%= link_to 'Add Player', new_player_path(tournament_id: @tournament.id) %> |
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
